:root{
  --grad: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
  --primary:rgb(6, 148, 141);
  --dark-primary:rgb(14, 59, 57);
  --overlay:rgb(46, 45, 45);
  --blacky:rgb(0, 0, 0);
  --grayish:rgb(8, 8, 8);
  --brownish:rgb(121, 4, 27);
  
  
}
body{
font-family: 'Lato', sans-serif;
background-color:var(--grayish);
}
.visible{
  transform: translateX(0) translateY(0);
}
